body {
  font-family: Helvetica, Arial, sans-serif;
  background-color: #dcecff;
  text-align: center;
}

h1 {
  color: #333;
  font-size: 36px;
  font-weight: bold;
  margin-top: 50px;
  margin-bottom: 20px;
}

input[type="text"] {
  padding: 12px;
  margin: 5px;
  border: 2px solid #ccc;
  border-radius: 5px;
  font-size: 20px;
  outline: none;
}

button {
  padding: 12px 24px;
  margin: 5px;
  background-color: #4886ff;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
  outline: none;
}

button:hover {
  background-color: #3a77ff;
}

#result {
  font-size: 28px;
  font-weight: bold;
  margin-top: 50px;
  margin-bottom: 20px;
}
